@font-face {
    font-family: 'Pretendard-Black';
    src: url('../font/Pretendard-Black.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../font/Pretendard-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/Pretendard-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('../font/Pretendard-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('../font/Pretendard-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}